/* Colors:
	Purple: #5f419a;
	Yellow: #f1eb16;
	Blue: #83ccb3;
	Green: #add037;
*/

/* Reset Rule */
* {
	border: 0;
	margin: 0;
	padding: 0;
}

body {
	color: #5f419a;
}

header {
	background-color: #5f419a;
	color: #ffffff;
	text-align: center;
}

main {
	text-align: center;
}

section {
	display: flex;
	justify-content: space-around;
}

.box {
	border: 3px #5f419a solid;
}

#box1 {
	background-color: #f1eb16;
}

#box2 {
	background-color: #83ccb3;
}

#box3 {
	background-color: #add037;
}